/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* app/assets/stylesheets/application.scss (or your custom stylesheet) */
.cart-icon {
  max-width: 50px; /* Set a maximum width for the cart icon */
  transition: max-width 0.3s ease; /* Add a smooth transition effect */
}

/* Adjust the cart icon size based on the number of items in the cart */
.cart-icon.large {
  max-width: 70px;
}

.cart-icon.extra-large {
  max-width: 100px;
}

/* User show css */

/* app/assets/stylesheets/users.css */

.user-profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
  margin-bottom: 20px;
  text-align: center;
}

.user_btn {
  display: inherit;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}


/* User edit form css */

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.avatar-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
}


.form-group {
  margin-bottom: 20px;
}

.form-control-file {
  margin-top: 5px;
}
