<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>

<!-- app/views/products/new.html.erb -->

<div class="container mt-5">
  <h1 class="display-4">New Product</h1>
  <%= render 'form', product: @product %>
  <%= link_to 'Back to Products', products_path, class: 'btn btn-secondary mt-3' %>
</div>
